.Table {
  display: table;
  font-family: courier new;
}
.Title {
  display: table-caption;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  font-family: courier new;
}
.Heading {
  display: table-row;
  font-family: courier new;
  font-weight: bold;
  text-align: center;
  background-color: lightblue;
}
.Row {
  display: table-row;
  font-family: courier new;
}
.Cell {
  display: table-cell;
  border: solid;
  border-width: thin;
  padding-left: 5px;
  padding-right: 5px;
  font-family: courier new;
}
.Arrow {
  height: auto;
  width: 15px;
}
